
Services/DomainWatch/domain_watch/target/classes/avalanche/*.class
Services/DomainWatch/domain_watch/target/*/*/*.class
Services/DomainWatch/domain_watch/target/test-classes/avalanche/Processing/SimilarityCheckerTest.class
backend/.env
gateway/.env
user-management/.env
zacr/.env
.vscode/settings.json
javatest/SimpleHttpServer$PostHandler.class
javatest/SimpleHttpServer.class
javatest/SimpleHttpServer.java