
Services/DomainWatch/domain_watch/target/classes/avalanche/*.class
Services/DomainWatch/domain_watch/target/*/*/*.class
Services/DomainWatch/domain_watch/target/test-classes/avalanche/Processing/SimilarityCheckerTest.class
backend/.env
gateway/.env
user-management/.env
zacr/.env
.vscode/settings.json
javatest/SimpleHttpServer$PostHandler.class
javatest/SimpleHttpServer.class
javatest/SimpleHttpServer.java
Services/DomainNameAnalysis/domain_name_analysis/target/classes/*/*.class
Services/DomainNameAnalysis/domain_name_analysis/target/test-classes/*/*.class
Services/DomainWatch/domain_watch/target/classes/avalanche/*/*.class
Services/DomainWatch/domain_watch/target/test-classes/avalanche/*/*.class
Services/DomainWatch/domain_watch/mvnw
Services/DomainWatch/domain_watch/mvnw.cmd
Services/DomainWatch/domain_watch/.mvn/wrapper/maven-wrapper.jar
Services/DomainWatch/domain_watch/.mvn/wrapper/maven-wrapper.properties
Services/DomainWatch/domain_watch/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Services/DomainWatch/domain_watch/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
frontend/.vscode/settings.json
Services/DomainWatch/domain_watch/target/classes/avalanche/DataClasses/Domain.class
Services/DomainWatch/domain_watch/target/classes/avalanche/DataClasses/Domain.class
Services/DomainWatch/domain_watch/target/classes/avalanche/DistanceCalculators/LevensteinDistanceCalculator.class
Services/DomainWatch/domain_watch/target/classes/avalanche/Network/ServerState/Running.class
Services/DomainWatch/domain_watch/target/classes/avalanche/Processing/CalculatorThread.class
Services/DomainWatch/domain_watch/target/classes/avalanche/Processing/SimilarityChecker.class
Services/DomainWatch/domain_watch/target/classes/avalanche/Processing/SoundexThread.class
Services/DomainWatch/domain_watch/target/classes/avalanche/DataClasses/*.class
Services/DomainWatch/domain_watch/target/site/jacoco/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-sessions.html
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco.csv
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco.xml
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche/main.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche/main.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Core/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Core/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Core/SimilarityChecker.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Core/SimilarityChecker.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DataClasses/Domain.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DataClasses/Domain.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DataClasses/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DataClasses/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DistanceCalculators/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DistanceCalculators/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DistanceCalculators/LevensteinDistanceCalculator.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DistanceCalculators/LevensteinDistanceCalculator.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DistanceCalculators/SoundexCalculator.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.DistanceCalculators/SoundexCalculator.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network/SimpleHttpServer.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network/SimpleHttpServer.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network/SimpleHttpServer$PostHandler.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/Closed.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/Closed.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/Initialising.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/Initialising.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/Running.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/Running.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/ServerState.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Network.ServerState/ServerState.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Settings/DomainWatchSettings.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Settings/DomainWatchSettings.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Settings/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Settings/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Threads/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Threads/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Threads/LevenshteinThread.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Threads/LevenshteinThread.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Threads/SoundexThread.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Threads/SoundexThread.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Utility/DomainTokeniser.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Utility/DomainTokeniser.java.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Utility/DomainTokeniser$BestMatchResult.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Utility/index.html
Services/DomainWatch/domain_watch/target/site/jacoco/avalanche.Utility/index.source.html
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/branchfc.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/branchnc.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/branchpc.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/bundle.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/class.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/down.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/greenbar.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/group.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/method.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/package.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/prettify.css
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/prettify.js
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/redbar.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/report.css
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/report.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/session.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/sort.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/sort.js
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/source.gif
Services/DomainWatch/domain_watch/target/site/jacoco/jacoco-resources/up.gif
Services/DomainWatch/domain_watch/target/surefire-reports/2023-06-26T17-11-06_931.dumpstream
Services/DomainWatch/domain_watch/target/surefire-reports/2023-06-26T17-15-04_864.dumpstream
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Core.SimilarityCheckerTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.DataClasses.DomainClassTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.DistanceCalculators.LevensteinDistanceCalculatorTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.DistanceCalculators.SoundexCalculatorTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Network.ServerState.ClosedTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Network.ServerState.InitialisingTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Network.ServerState.RunningTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Network.SimpleHttpServerTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Threads.LevenshteinThreadTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Threads.SoundexThreadTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/avalanche.Utility.DomainTokeniserTest.txt
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Core.SimilarityCheckerTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.DataClasses.DomainClassTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.DistanceCalculators.LevensteinDistanceCalculatorTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.DistanceCalculators.SoundexCalculatorTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Network.ServerState.ClosedTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Network.ServerState.InitialisingTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Network.ServerState.RunningTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Network.SimpleHttpServerTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Threads.LevenshteinThreadTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Threads.SoundexThreadTest.xml
Services/DomainWatch/domain_watch/target/surefire-reports/TEST-avalanche.Utility.DomainTokeniserTest.xml
Services/DomainWatch/domain_watch/target/domain_watch-1.0.jar
Services/DomainWatch/domain_watch/target/test-classes/avalanche/Network/ServerState/ClosedTest.class
Services/DomainWatch/domain_watch/target/test-classes/avalanche/Network/ServerState/InitialisingTest.class
Services/DomainWatch/domain_watch/target/test-classes/avalanche/Network/ServerState/RunningTest.class
