@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap');

:root {
    --animate-duration: 150ms;
}

* {
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
}